<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus-nugets" value="https://pkgs.dev.azure.com/nexuslink/6ea7c57e-8f91-494b-9ccf-880f7611b745/_packaging/nexus-nugets/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
